@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

*::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #b6d8d7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.padded {
    padding: 1.3rem;
}

#container__main {
    background-color: white;
    width: 600px;
    height: 350px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
}

#container__main_right{
    background-color: #2E4F4F;
    margin: 1.3rem 1.3rem 1.3rem .5rem;
    border-radius: 10px;
    flex: 1;
}

#container__main_left {
    margin: 1.3rem .5rem 1.3rem 1.3rem;
    flex: 1;
}


