@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

*::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: bisque;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container--balance {
    background-color: salmon;
    border-radius: 10px;
    color: white;
}

#container--chart-section {
    background-color: white;
    border-radius: 10px;
}

.spaced {
    padding: .5rem;
    margin: .5rem;
}

.flex {
    display: flex;
}

.row {
    direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

.fontSize {
    font-size: 36px;
}

#container--balance {
    justify-content: space-around;
}
#container--chart-section-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#circle {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 2px solid;
    z-index: 1;
}

#circle-right {
    position: absolute;
    left: 75%;
    background: #3C2317;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    z-index: 0;
}